.controlDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.selectDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
}
