:global {
  #root .ant-layout
  {
    width: 100%;
    min-height: 100vh;
    .ant-layout-sider
    {
      .logo {
        height: 32px;
        background: #333;
        border-radius: 6px;
        margin: 16px;
      }
    }

    .ant-layout-sider-collapsed
    {
      .anticon {
        font-size: 16px;
        margin-left: 8px;
      }

      .nav-text {
        display: none;
      }

      .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
        display: none;
      }
    }

    .react-draggable strong {
      background: #3E96EF;
      border: 1px solid #999;
      display: block;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 3px 5px;
      text-align: center;
      height: 30px;

      button {
        float: right;
      }
    }

    .react-draggable, .cursor {
      cursor: move;
    }

    .box {
      background: #fff;
      border: 1px solid #999;
      opacity: 0.95;
      width: 120px;
      height: 120px;
      margin: 0px;
      padding: 0px;
      float: left;
    }

    .no-cursor {
      cursor: auto;
    }
    .cursor-y {
      cursor: ns-resize;
    }
    .cursor-x {
      cursor: ew-resize;
    }
  }
}

