:global {
  #root .ant-layout
  {
    width: 100%;
    min-height: 100vh;
    .ant-layout-sider
    {
      .logo {
        height: 32px;
        background: #333;
        border-radius: 6px;
        margin: 16px;
      }
    }

    .ant-layout-sider-collapsed
    {
      .anticon {
        font-size: 16px;
        margin-left: 8px;
      }

      .nav-text {
        display: none;
      }

      .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
        display: none;
      }
    }

    .react-draggable strong {
      background: #3E96EF;
      border: 1px solid #999;
      width: 22px;
      height: 28px;
      display: block;
      margin-bottom: 10px;
      margin-left: -20px;
      padding: 3px 5px;
      border-radius: 3px 0 0 3px;
      float: left;
    }

    .react-draggable, .cursor {
      cursor: move;
    }

    .box {
      background: #fff;
      border: 1px solid #ccc;
      opacity: 0.95;
      width: 150px;
      height: 150px;
      margin-left: 22px;
      padding: 0px;
      float: left;
      z-index: 200;
      position: relative;
    }

    .no-cursor {
      cursor: auto;
    }
  }
}

